@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

body {
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 300px;
    margin: 10px auto;
}

h2 {
    text-align: center;
    padding: 10px;
    color: #191970;
}

.campoForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;
}

.campoForm input {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0000008e;
}

.campoForm button {
    background-color: #1d1d73;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-size: 1.05em;
}

.res {
    width: 52%;
    margin: 5px auto;
    border: 3px solid red;
    padding: 5px;
    border-radius: 5px;
}

.pessoa {
    border: 3px grey solid;
    padding: 5px;
    border-radius: 5px;
    width: 240px;
    margin: 5px auto;
}

@media screen and (max-width: 600px) {
    .pessoa {
        width: 150px;
    }
} 